/**
Notes:
 - Mario themed background image with luigi jumping on the right:
 http://images.wikia.com/fantendo/images/4/4d/Luigi_Jump.jpg
 - coins for each text - maybe we can tally them?
 http://png-3.findicons.com/files/icons/2297/super_mario/256/retro_coin.png
 - At the bottom, have mario kart drive the archived messages out
 http://images1.fanpop.com/images/image_uploads/Mario-in-Mario-Kart-Wii-mario-kart-852106_533_600.jpg
 
**/
body {
	background-image: url('/static/img/mushroom_background.png') !important;
	background-color: #00bff3;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y: -90px;
}

body.nobg {
    background-image: none !important;
}

.wrapper {
	background-color: transparent;
}
div.article {
	border: 0px !important;
	background: rgba(255,255,255,.5) !important;
/*	background-color:#000;
	
	background: rgba(246, 246, 246 .5) !important;
	*/
}
h1, h3 {
	text-transform: none !important;
	background-color:#fe0000 !important;
}
.wrapper blockquote {
    border: 0px;
	background-image: url('/static/img/coin.png');
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left: 60px !important;
}

.vintage blockquote {
    border: 0px;
	background-image: url('/static/img/missile_bill.png');
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left: 80px !important;
}

.sprite {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
}

.sprite.vintage-topper {
    position: fixed;
    bottom: 52px;
    z-index: 10000;
    right: 130px;
}

.mario {
    background-image: url(../img/mario_sprites.png);
    background-position-y: -220px;
}

@keyframes "mario-left-examining" {
 from {
    background-position-x: -360px;
 }
 to {
    background-position-x: 0px;
 }

}

@-moz-keyframes mario-left-examining {
 from {
   background-position-x: -360px;
 }
 to {
   background-position-x: 0px;
 }

}

@-webkit-keyframes "mario-left-examining" {
 from {
   background-position-x: -360px;
 }
 to {
   background-position-x: 0px;
 }

}
@keyframes "mario-right-examining" {
 from {
    background-position-x: -720px;
 }
 to {
    background-position-x: -1080px;
 }

}

@-moz-keyframes mario-right-examining {
 from {
   background-position-x: -720px;
 }
 to {
   background-position-x: -1080px;
 }

}

@-webkit-keyframes "mario-right-examining" {
 from {
   background-position-x: -720px;
 }
 to {
   background-position-x: -1080px;
 }

}

.mario.examining {
    background-position-y: -580px;
}

.mario.left.examining {
	-webkit-animation: mario-left-examining 2s steps(3, end) infinite alternate;
	-moz-animation: mario-left-examining 2s steps(3, end) infinite alternate;
	animation: mario-left-examining 2s steps(3, end) infinite alternate;
}

.mario.right.examining {
	-webkit-animation: mario-right-examining 2s steps(3, end) infinite alternate;
	-moz-animation: mario-right-examining 2s steps(3, end) infinite alternate;
	animation: mario-right-examining 2s steps(3, end) infinite alternate;
}