/**
Notes:
 - Mario themed background image with luigi jumping on the right:
 http://images.wikia.com/fantendo/images/4/4d/Luigi_Jump.jpg
 - coins for each text - maybe we can tally them?
 http://png-3.findicons.com/files/icons/2297/super_mario/256/retro_coin.png
 - At the bottom, have mario kart drive the archived messages out
 http://images1.fanpop.com/images/image_uploads/Mario-in-Mario-Kart-Wii-mario-kart-852106_533_600.jpg
 
**/
body {
	background-image: url('/static/img/mushroom_background.png') !important;
	background-color: #00bff3;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y: -90px;
}

body.nobg {
    background-image: none !important;
}

.wrapper {
	background-color: transparent;
}
div.article {
	border: 0px !important;
	background: rgba(255,255,255,.5) !important;
/*	background-color:#000;
	
	background: rgba(246, 246, 246 .5) !important;
	*/
}
h1, h3 {
	text-transform: none !important;
	background-color:#fe0000 !important;
}
.wrapper blockquote {
    border: 0px;
	background-image: url('/static/img/coin.png');
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left: 60px !important;
}

.vintage blockquote {
    border: 0px;
	background-image: url('/static/img/missile_bill.png');
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left: 80px !important;
}

/* Sprite Animation */

/* Basic Information
*   Horizontal Sprite Changes: 120px
*   Adult Mario Y Position: -220px;
*
*/

.sprite {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
}

.sprite.vintage-topper {
    position: fixed;
    bottom: 191px;
    z-index: 10000;
    right: 130px;
}

@keyframes "spin" {
 0% {
    -webkit-transform: rotateY(0deg);
   	-moz-transform: rotateY(0deg);
   	-o-transform: rotateY(0deg);
   	-ms-transform: rotateY(0deg);
   	transform: rotateY(0deg);
 }
 100% {
    -webkit-transform: rotateY(360deg);
   	-moz-transform: rotateY(360deg);
   	-o-transform: rotateY(360deg);
   	-ms-transform: rotateY(360deg);
   	transform: rotateY(360deg);
 }

}

@-moz-keyframes spin {
 0% {
   -moz-transform: rotateY(0deg);
   transform: rotateY(0deg);
 }
 100% {
   -moz-transform: rotateY(360deg);
   transform: rotateY(360deg);
 }

}

@-webkit-keyframes "spin" {
 0% {
   -webkit-transform: rotateY(0deg);
   transform: rotateY(0deg);
 }
 100% {
   -webkit-transform: rotateY(360deg);
   transform: rotateY(360deg);
 }

}

.sprite.coin-spin {
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

.mario {
    background-image: url(../img/mario_sprites.png);
    background-position-y: -220px;
}

.mario.front.stand {
    background-position-x: -720px;
}

.mario.back.stand {
    background-position-x: -840px;
}

.mario.left.stand {
    background-position-x: -240px;
}

.mario.left.short-stride {
    background-position-x: -360px;
}

.mario.left.long-stride {
    background-position-x: -480px;
}

.mario.right.stand {
    background-position-x: -840px;
}

.mario.right.short-stride {
    background-position-x: -720px;
}

.mario.right.long-stride {
    background-position-x: -600px;
}


.mario.jump {
    background-position-y: -340px;
}

.mario.jump.right.up {
    background-position-x: -600px;
}

.mario.jump.right.down {
    background-position-x: -720px;
}


.mario.jump.left.up {
    background-position-x: -480px;
}

.mario.jump.left.down {
    background-position-x: -360px;
}

.mario.sprint {
   background-position-y: -460px;
}

.mario.sprint.right.a {
    background-position-x: -600px;
}

.mario.sprint.right.b {
    background-position-x: -720px;
}

.mario.sprint.right.c {
    background-position-x: -840px;
}

.mario.sprint.right.leap {
    background-position-x: -960px;
}

.mario.sprint.right.land {
    background-position-x: -1080px;
}

.mario.sprint.left.a {
    background-position-x: -480px;
}

.mario.sprint.left.b {
    background-position-x: -360px;
}

.mario.sprint.left.c {
    background-position-x: -240px;
}

.mario.sprint.left.leap {
    background-position-x: -120px;
}


.mario.sprint.left.land {
    background-position-x: 0px;
}

.mario.examine {
    background-position-y: -580px;
}

.mario.examine.left.up {
    background-position-x: -360px;
}

.mario.examine.left.tilt {
    background-position-x: -240px;
}

.mario.examine.left.turn {
    background-position-x: -120px;
}

.mario.examine.right.up {
    background-position-x: -720px;
}

.mario.examine.right.tilt {
    background-position-x: -840px;
}

.mario.examine.right.turn {
    background-position-x: -960px;
}

@keyframes "mario-left-walking" {
  from {
   background-position-x: -480px;
 }
 to {
   background-position-x: -120px;
 }

}

@-moz-keyframes mario-left-walking {
  from {
   background-position-x: -480px;
 }
 to {
   background-position-x: -120px;
 }

}

@-webkit-keyframes "mario-left-walking" {
  from {
   background-position-x: -480px;
 }
 to {
   background-position-x: -120px;
 }

}

.mario.left.walking {
    -webkit-animation: mario-left-walking .15s steps(3, end) infinite alternate;
    -moz-animation: mario-left-walking .15s steps(3, end) infinite alternate;
    animation: mario-left-walking .15s steps(3, end) infinite alternate;
}


@keyframes "mario-right-walking" {
    from {
        background-position-x: -840px;
    }
    to {
        background-position-x: -480px;
    }
}

@-moz-keyframes mario-right-walking {
    from {
        background-position-x: -840px;
    }
    to {
        background-position-x: -480px;
    }
}

@-webkit-keyframes "mario-right-walking" {
    from {
        background-position-x: -840px;
    }
    to {
        background-position-x: -480px;
    }
}

.mario.right.walking {
    -webkit-animation: mario-right-walking .15s steps(3, end) infinite alternate;
    -moz-animation: mario-right-walking .15s steps(3, end) infinite alternate;
    animation: mario-right-walking .15s steps(3, end) infinite alternate;
}

@keyframes "mario-left-sprinting" {
 from {
    background-position-x: -480px;
 }
 to {
    background-position-x: -120px;
 }

}

@-moz-keyframes mario-left-sprinting {
 from {
   background-position-x: -480px;
 }
 to {
   background-position-x: -120px;
 }

}

@-webkit-keyframes "mario-left-sprinting" {
 from {
   background-position-x: -480px;
 }
 to {
   background-position-x: -120px;
 }

}

@keyframes "mario-right-sprinting" {
 from {
    background-position-x: -600px;
 }
 to {
    background-position-x: -960px;
 }

}

@-moz-keyframes mario-right-sprinting {
 from {
   background-position-x: -600px;
 }
 to {
   background-position-x: -960px;
 }

}

@-webkit-keyframes "mario-right-sprinting" {
 from {
   background-position-x: -600px;
 }
 to {
   background-position-x: -960px;
 }

}

.mario.sprinting {
    background-position-y: -460px;
}

.mario.left.sprinting {
    -webkit-animation: mario-left-sprinting .2s steps(3, end) infinite alternate;
    -moz-animation: mario-left-sprinting .2s steps(3, end) infinite alternate;
    animation: mario-left-sprinting .2s steps(3, end) infinite alternate;
}

.mario.right.sprinting {
    -webkit-animation: mario-right-sprinting .2s steps(3, end) infinite alternate;
    -moz-animation: mario-right-sprinting .2s steps(3, end) infinite alternate;
    animation: mario-right-sprinting .2s steps(3, end) infinite alternate;
}


@keyframes "mario-left-examining" {
 from {
    background-position-x: -360px;
 }
 to {
    background-position-x: 0px;
 }

}

@-moz-keyframes mario-left-examining {
 from {
   background-position-x: -360px;
 }
 to {
   background-position-x: 0px;
 }

}

@-webkit-keyframes "mario-left-examining" {
 from {
   background-position-x: -360px;
 }
 to {
   background-position-x: 0px;
 }

}
@keyframes "mario-right-examining" {
 from {
    background-position-x: -720px;
 }
 to {
    background-position-x: -1080px;
 }

}

@-moz-keyframes mario-right-examining {
 from {
   background-position-x: -720px;
 }
 to {
   background-position-x: -1080px;
 }

}

@-webkit-keyframes "mario-right-examining" {
 from {
   background-position-x: -720px;
 }
 to {
   background-position-x: -1080px;
 }

}

.mario.examining {
    background-position-y: -580px;
}

.mario.left.examining {
	-webkit-animation: mario-left-examining 2s steps(3, end) infinite alternate;
	-moz-animation: mario-left-examining 2s steps(3, end) infinite alternate;
	animation: mario-left-examining 2s steps(3, end) infinite alternate;
}

.mario.right.examining {
	-webkit-animation: mario-right-examining 2s steps(3, end) infinite alternate;
	-moz-animation: mario-right-examining 2s steps(3, end) infinite alternate;
	animation: mario-right-examining 2s steps(3, end) infinite alternate;
}