<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Rackspace Sweet Board</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="../static/styles/bootstrap.css">
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="../static/styles/fonts.css">
    <link rel="stylesheet" href="../static/styles/mario.css">
    <!-- endbuild -->
  </head>
  <body class="nobg">
      <div class="sprite mario left walking"></div>
      <div class="sprite mario right walking"></div>
      <div class="sprite mario left sprinting"></div>
      <div class="sprite mario right sprinting"></div>
  </body>
</html>
